@{
    ViewData["Title"] = "Inicio";
}

<section class="testimonios">
    <h2>Lo que dicen nuestros clientes</h2>
    <div class="clientes">
        <div class="cliente">
            <img src="/images/p1.png" alt="Foto Valeria Velez" />
            <p class="testimonio">
                "Desde el primer momento en que llegué, supe que había tomado la
                mejor decisión. La calidez del personal, la música suave y el aroma
                relajante me hicieron desconectar del mundo exterior."
            </p>
            <p class="nombre">- Valeria Velez</p>
        </div>
        <div class="cliente">
            <img src="/images/p2.png" alt="Foto Angie Manrique" />
            <p class="testimonio">
                "El masaje fue simplemente espectacular. Sentí cómo cada movimiento
                liberaba tensiones que ni siquiera sabía que tenía. Fue más que un
                masaje, fue un renacimiento."
            </p>
            <p class="nombre">- Angie Manrique</p>
        </div>
        <div class="cliente">
            <img src="/images/p3.png" alt="Foto Carlos y Maria" />
            <p class="testimonio">
                "Finalizar el día en el jacuzzi privado, brindando con una copa de
                vino, fue simplemente mágico. ¡Gracias por crear un espacio tan
                especial!"
            </p>
            <p class="nombre">- Carlos y Maria</p>
        </div>
    </div>
</section>
